@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap');

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
}
.button{
    display:flex;
    justify-content: space-evenly;

}
button{
    padding:  4px 14px;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 120px;
}

.cont{
    min-height: 90vh ;
    width: 80vw;
    margin: auto;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tag{
    color: blue;
}
.fade{
    opacity: .9;
}
h1{
    width: 80vw;
    margin: auto;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 13px;
}
.button{
    margin-top: 22px ;

}
.blog{
    padding: 12px;
    margin-top: 14px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.custom-loader {
    width:50px;
    height:50px;
    --c:radial-gradient(farthest-side,#766DF4 92%,#0000);
    background: 
      var(--c) 50% 0,
      var(--c) 50% 100%,
      var(--c) 100% 50%,
      var(--c) 0    50%;
    background-size:12px 12px;
    background-repeat:no-repeat;
    animation:s7 1s infinite;
  }
  @keyframes s7 {to{transform: rotate(.5turn)}}